////////////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    margin-left: 3rem;
}


////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;
    background-color: orangered;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;

        width: 90%;
        transition: all .2s;

        margin-right: -3.25rem;

        &:focus {
            width: 100%;
            background-color: var(--color-grey-light-3);
            outline: none;
        }
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}


////////////////////////////////////////
// USER NAVIGATION
.user-nav {
    background-color: greenyellow;

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification {
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
    }
}
