.container {
    max-width: 120rem;
    margin: 8rem auto; //center left-rgiht
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem; // only for testing purpose
}

.header {

}

.content  {

}

.sidebar {

}

.hotel-view {

}
